body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-content img {
    margin-right: 20px;
}

.header-content h1 {
    margin: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

.nav-buttons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-buttons li {
    display: inline;
    margin: 0 10px;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
}

.nav-buttons a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}